@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Playball&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Otomanopee+One&family=Playball&family=Zen+Tokyo+Zoo&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

.pre-loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(18, 136, 172, 0.918);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

#open {
    display: none;
}

#close {
    display: none;
}

.myNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
}

.left-side {
    width: 70px;
}

.left-side img {
    width: 100%;
}

.right-side-header a {
    margin-left: 20px;
    color: black;
}

.main-side ul {
    display: flex;
}

.main-side ul li {
    margin-left: 20px;
}

.main-side ul li a {
    color: white;
    font-weight: 500;
    padding: 5px;
    text-transform: capitalize;

}

.right-side ul {
    display: flex;
    align-items: center;
}

.right-side ul li {
    margin-right: 20px;
}

.right-side ul li a {
    color: white;
    font-weight: 500;
    padding: 5px;
    text-transform: capitalize;
}

.mybg {
    background-image: url("../images/bg-1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.car-category {
    margin: 50px 0px;
}

.car-category h1 {
    font-family: 'Bebas Neue', cursive;
}

.imgs img {
    width: 100%;
}

.imgs {
    position: relative;
}

.cat-car-name {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
    font-family: 'Zen Tokyo Zoo', cursive;
}

.cars {
    margin: 50px 0px;
}

.cars h1 {
    font-family: 'Bebas Neue', cursive;
}

.imgs {
    position: relative;
}

.car-name {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
}

.post-img img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.car-posts {
    margin: 30px 0px;
}

.car-posts h1 {
    font-family: 'Bebas Neue', cursive;
}

.my-card {
    border: 1px solid rgba(66, 66, 66, 0.534);
    border-radius: 5px;
}

.my-card-body {
    padding: 10px 20px;
}

.my-card-footer {
    padding: 10px 20px;

}

#heading {
    font-family: 'Playball', cursive;
}

.read-more {
    background-color: white;
    font-size: 1.4rem;
    font-family: 'Zen Tokyo Zoo', cursive;

}

.my-card:hover {
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.418);
}

.footer {
    color: white;
    padding: 20px;
}

.shop .shopping-cart {
    font-size: 2.4rem;
    border-radius: 100%;
    background-color: rgba(31, 31, 207, 0.493);
    padding: 3px 10px;
    color: white;
    position: relative;
}

.shop .count {
    font-size: 1.6rem;
    color: white;
    background-color: red;
    padding: 1px 3px;
    border-radius: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.gallery-img {
    background-image: url("../images/bg-2.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}

.gallery-imgs img {
    width: 100%;
}

.load {
    text-align: center;
}

.loading-button {
    font-size: 2rem;
    background-color: white;
    border: 2px solid rgba(90, 18, 156, 0.589);
    padding: 10px 20px;
}

.loading-button:hover {
    background-color: rgba(90, 18, 156, 0.589);
    transition: all .5s;
}

.carbg{
    background-image: url("../images/bg-3.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}

.main_img img{
    width: 100%;
}
.title{
    font-family: 'Zen Tokyo Zoo', cursive;

}

.my-border{
    border: 1px solid rgb(43, 43, 43);
}
.about-img img{
    width: 100%;
}
.blogbg{
    background-image: url("../images/bg-1.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}
.aboutbg{
    background-image: url("../images/bg-2.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}
.contactbg{
    background-image: url("../images/bg-3.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}
.social i{
    font-size: 1.5rem;
    margin-top: 20px;
    color: white;
}
.fa-facebook{
    background-color: blue;
    padding: 10px 15px;
    border-radius: 50%;
}
.fa-instagram{
       background-color: rgb(185, 29, 159);
    padding: 10px 15px;
    border-radius: 50%;
}
.fa-pinterest{
    background-color: rgb(235, 36, 46);
    padding: 10px 15px;
    border-radius: 50%;
}
.fa-youtube{
    background-color: rgb(102, 0, 0);
    padding: 10px 15px;
    border-radius: 50%;
}

@media (max-width:1000px) {
    .myNavbar {
        display: flex;
        flex-direction: column;
    }


}

@media (max-width:500px) {
    #close {
        display: flex;
        cursor: pointer;
        font-size: 1.5rem;
        color: white;
        justify-content: center;
    }

    .responsive.show {
        display: block;
    }

    .responsive.hide {
        display: none;
    }

    .responsive {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        background-color: black;
        height: 100vh;
        width: 30%;
        padding: 10px 0px;
    }

    .responsive ul {
        display: block;
    }

    .responsive ul li {
        padding: 10px 0px;
    }

    #open {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        color: white;
    }
}

@media (max-width:450px) {
    .custom-header {
        display: flex;
        flex-direction: column;

        justify-content: center;
    }
}

@media (max-width:400px) {
    .responsive {
        width: 50%;
    }

}